/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container img {
    max-width: 200px;
    max-height:250px;
    width: auto;
    height: auto;
}
.container {
    clear: both;
    margin-top: 20px;
}
img {
    vertical-align: top
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.logo {
  height: 60px;
  margin-bottom: 10px;
}

/* Cabeçalho */
header {
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
}

/* hero */
.hero {
  background: url('fundo.png') no-repeat center center/cover;
  color: #ffffff;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  background-color: rgba(0, 123, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn {
  background-color: #fff;
  color: #007bff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/* Abas */
.tabs {
  max-width: 1000px;
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tab-buttons {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #ddd;
}

.tab-button {
  flex: 1;
  padding: 14px 16px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
  transition: background-color 0.3s;
  font-size: 16px;
}

.tab-button:hover {
  background-color: #f1f1f1;
}

.tab-button.active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
}

/* Rodapé */
footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
}
